<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit.runner.visualstudio" version="2.3.1" />
  <package id="Microsoft.CSharp" version="4.4.0" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="1.1.1" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.1.1" />
  <package id="Microsoft.NETCore.Platforms" version="1.1" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="15.0.0" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" />
  <package id="Microsoft.Win32.Registry" version="4.3.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="Newtonsoft.Json" version="10.0.3" />
  <package id="runtime.native.System" version="4.3" />
  <package id="runtime.native.System.IO.Compression" version="4.3.0" />
  <package id="runtime.native.System.Security.Cryptography.Apple" version="4.3" />
  <package id="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" version="4.3" />
  <package id="System.AppContext" version="4.3.0" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.Collections.Concurrent" version="4.3" />
  <package id="System.Collections.Immutable" version="1.4.0" />
  <package id="System.Collections.NonGeneric" version="4.3.0" />
  <package id="System.Collections.Specialized" version="4.3.0" />
  <package id="System.ComponentModel" version="4.3.0" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" />
  <package id="System.Diagnostics.Process" version="4.3.0" />
  <package id="System.Diagnostics.TextWriterTraceListener" version="4.3.0" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" />
  <package id="System.Diagnostics.Tracing" version="4.3" />
  <package id="System.Dynamic.Runtime" version="4.3.0" />
  <package id="System.Globalization.Calendars" version="4.3" />
  <package id="System.IO.Compression" version="4.3.0" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" />
  <package id="System.IO.FileSystem" version="4.3" />
  <package id="System.IO.FileSystem.Primitives" version="4.3" />
  <package id="System.Net.Http" version="4.3.1" />
  <package id="System.Net.Primitives" version="4.3" />
  <package id="System.Net.Sockets" version="4.3.0" />
  <package id="System.ObjectModel" version="4.3" />
  <package id="System.Private.DataContractSerialization" version="4.3.0" />
  <package id="System.Reflection.Metadata" version="1.5.0" />
  <package id="System.Reflection.Primitives" version="4.3" />
  <package id="System.Runtime.Handles" version="4.3" />
  <package id="System.Runtime.InteropServices" version="4.3" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" />
  <package id="System.Runtime.Loader" version="4.3" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3" />
  <package id="System.Security.Cryptography.Cng" version="4.3" />
  <package id="System.Security.Cryptography.Csp" version="4.3" />
  <package id="System.Security.Cryptography.Encoding" version="4.3" />
  <package id="System.Security.Cryptography.Primitives" version="4.3" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3" />
  <package id="System.Text.Encoding" version="4.3" />
  <package id="System.Text.Encoding.Extensions" version="4.3" />
  <package id="System.Threading.Tasks.Extensions" version="4.3" />
  <package id="System.Xml.ReaderWriter" version="4.3" />
  <package id="System.Xml.XDocument" version="4.3" />
  <package id="System.Xml.XmlDocument" version="4.3.0" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" />
  <package id="System.Xml.XPath" version="4.3.0" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" />
  <package id="System.Threading.ThreadPool" version="4.3.0" />
</packages>