source https://www.nuget.org/api/v2

nuget FAKE
nuget NUnit
nuget NUnit.Runners
nuget xunit < 2.0
nuget xunit.runners < 2.0
nuget xunit.runner.visualstudio version_in_path: true
nuget NuGet.CommandLine
nuget SourceLink.Fake
nuget FSharp.Formatting
