source https://www.nuget.org/api/v2

nuget FAKE
nuget NUnit beta
nuget NUnit.Console beta
nuget NUnitTestAdapter version_in_path: true
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio version_in_path: true
nuget NuGet.CommandLine
nuget SourceLink.Fake
nuget FSharp.Formatting