<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="runtime.native.System" version="4.3.1" />
  <package id="System.Collections" version="4.3" />
  <package id="System.Diagnostics.Debug" version="4.3" />
  <package id="System.Globalization" version="4.3" />
  <package id="System.Globalization.Extensions" version="4.3.0" />
  <package id="System.Reflection" version="4.3.0" />
  <package id="System.Reflection.Extensions" version="4.3" />
  <package id="System.Reflection.Primitives" version="4.3" />
  <package id="System.Resources.ResourceManager" version="4.3.0" />
  <package id="System.Runtime" version="4.3.0" />
  <package id="System.Runtime.Extensions" version="4.3" />
  <package id="System.Runtime.Handles" version="4.3" />
  <package id="System.Text.Encoding" version="4.3" />
  <package id="System.Threading" version="4.3" />
  <package id="System.Threading.Tasks" version="4.3" />
  <package id="System.Threading.Thread" version="4.3.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1" />
  <package id="runtime.native.System.Security.Cryptography.Apple" version="4.3" />
  <package id="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" version="4.3" />
  <package id="System.Collections.Concurrent" version="4.3" />
  <package id="System.Diagnostics.Tracing" version="4.3" />
  <package id="System.Globalization.Calendars" version="4.3" />
  <package id="System.IO.FileSystem" version="4.3" />
  <package id="System.IO.FileSystem.Primitives" version="4.3" />
  <package id="System.Net.Http" version="4.3.1" />
  <package id="System.Net.Primitives" version="4.3" />
  <package id="System.ObjectModel" version="4.3" />
  <package id="System.Runtime.InteropServices" version="4.3" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3" />
  <package id="System.Security.Cryptography.Cng" version="4.3" />
  <package id="System.Security.Cryptography.Csp" version="4.3" />
  <package id="System.Security.Cryptography.Encoding" version="4.3" />
  <package id="System.Security.Cryptography.Primitives" version="4.3" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3" />
  <package id="System.Threading.ThreadPool" version="4.3.0" />
</packages>