<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="xunit.diagnosticMessages" value="true"/>
	</appSettings>
	<runtime>
		<assemblyBinding>
			<!-- one dependentAssembly per unique assembly name -->
			<dependentAssembly>
				<assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c"/>
				<!-- one bindingRedirect per redirection -->
				<bindingRedirect oldVersion="2.0.0.2929" newVersion="99.99.99.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
